[submodule "external_lib/pytorch-CycleGAN-and-pix2pix"]
	path = external_lib/pytorch-CycleGAN-and-pix2pix
	url = https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix.git
[submodule "seg/external_lib/pytorch-3dunet"]
	path = seg/external_lib/pytorch-3dunet
	url = https://github.com/wolny/pytorch-3dunet.git
[submodule "seg/external_lib/MedicalZooPytorch"]
	path = seg/external_lib/MedicalZooPytorch
	url = https://github.com/black0017/MedicalZooPytorch.git
